/* HEADER */

header {
    width: 100%;
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 70px;
}

header * {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header-shadow {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.header-nav {
    box-sizing: border-box;
    padding: 0 70px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-nav  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}

.header-nav img {
    width: 40px;
    height: 40px;
    position: relative;
}

.navigation-links {
    height: auto;
    width: auto;
}

.header-link-block {
    width: 100%;
    box-sizing: border-box;
}

.header-link-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart,
.favourites,
.orders,
.login {
    height: 100%;
    width: auto;
    filter: opacity(80%);
}

.logo {
    background-image: url(../img/logo1.png);
    background-size: 100% 100%;
    height: 40px;
    width: 165px;
    margin-right: 2%;
}

.logo > a {
    width: 100%;
    height: 100%;
}

.search {
    width: 40%;
    margin: 0 2% 0 1%;
}

.search-field {
    box-sizing: border-box;
    background-color: white;
    height: 55px;
    width: auto;
    border-radius: 27.5px;
    display: flex;
    align-items: center;
    border: 2px solid var(--violet);
}

.search-field input::placeholder {
    font-size: 15px;
}

/* removing the crosses icon */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.header-nav input[type=search] {
    border: none;
    height: 100%;
    width: 100%;
    padding: calc((55px - 16px) / 2);
    border-radius: 27.5px;
    outline: none;
}

.loupe {
    border: none;
    background-color: var(--violet);
    margin-right: calc(55px * 0.1);
    border-radius: 50%;
    height: calc(55px * 0.8);
    aspect-ratio: 1/1;
}

.loupe img {
    height: 70%;
    width: 70%;
    filter: invert(100%);
}

.login,
.orders,
.favourites {
    margin-right: 10px;
}

.catalog-overlay {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 10%);
    z-index: -1;
}

.catalog-menu {
    box-sizing: border-box;
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 20%;
    min-width: 225px;
    background-color: white;
    text-align: left;
    z-index: 3;
}

.catalog-menu::after {
    width: 1.5px;
    height: 100%;
    position: absolute;
    right: 0px;
    z-index: -1;
    top: 0;
    background-color: gray;
    content: '';
}

.catalog-menu li {
    display: flex;
    color: black;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.catalog-menu li > p {
    display: block;
    width: 100%;
}

.catalog-menu > ul > li > .catalog-sub-menu {
    display: none;
}

.catalog-menu li:hover {
    background-color: var(--green);
    color: var(--light-font-color);
}

.catalog-menu li:hover > .catalog-sub-menu {
    display: block;
}

.catalog-sub-menu {
    box-sizing: border-box;
    border-right: solid 2px gray;
    position: fixed;
    width: 20%;
    min-width: 225px;
    top: 70px;
    left: 20%;
    bottom: 0;
    background-color: white;
}

.empty-box {
    width: 100%;
    height: 100%;
}

.header-burger-button {
    display: none;
    border: none;
    background-color: transparent;
    width: auto;
    height: 55px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-burger-line {
    position: relative;
}

.header-burger-line,
.header-burger-line::before,
.header-burger-line::after {
    height: 4.5px;
    border-radius: calc(4px / 2);
    width: 35px;
    background-color: lightgray;
    display: block;
}

.header-burger-line::before,
.header-burger-line::after {
    position: absolute;
    transition: all 0.3s;
    content: '';
}

.header-burger-line::before {
    bottom: 10px;
}

.header-burger-line::after {
    top: 10px;
}

.header-burger-opened {
    background-color: transparent;
}

.header-burger-opened::after {
    transform: rotate(-45deg);
    top: 0;
}

.header-burger-opened::before {
    transform: rotate(45deg);
    bottom: 0;
}

.favourites-number,
.cart-number {
    position: absolute;
    top: 0px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-font-color);
    background-color: red;
}

.favourites-number {
    right: 10px;
}

.cart-number {
    right: 0px;
}

@media (max-width: 960px) {
    header {
        height: auto;
    }
    .header-link-wrapper {
        flex-wrap: wrap;
        padding: 5px 0;
    }

    .search {
        margin: 15px 0 0 0;
        order: 10;
        width: 100%;
    }

    .header-burger-button {
        order: 9;
    }

    .navigation-links,
    .header-burger-button {
        margin-left: auto;
    }
}

@media (max-width: 767px) {

    .header-burger-button {
        display: flex;
    }

    .catalog-button {
        display: none;
    }

    .header-nav {
        padding: 0 40px;
    }

    .navigation-links {
        height: auto;
        width: 100%;
        position: fixed;
        top: 69px;
        left: 0;
        background-color: white;
    }

    .navigation-links > div {
        padding: 10px 0;
        margin: 0;
        height: auto;
        width: auto;
        filter: opacity(80%);
    }

    .navigation-links > div:hover {
        filter: opacity(100%);
        background-color: var(--green);
    }

    .navigation-links > div:hover > * {
        filter: invert(100%);
    }

    .favourites-number,
    .cart-number {
        display: none;
    }
}

@media (max-width: 340px) {
    .logo {
        background-image: url(../img/logo.png);
        width: 40px;
    }
}
